#test-nav
{
    text-align: end;
    padding: 3px;
}
.item 
{
    color: black;
    padding:5px;
    text-decoration: none;
}

.flexible
{
    display:flex;
    flex-direction: column;
}

.flexible_advanced
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.container2 
{
    
    
    justify-content: center;
    place-items: center;
    height:500px;
    width: 100%;
   
       

}

.sub_div
{
    
    width:100%;
    place-items: center;
    
    
    

}

#img2 /*holds the google logo as a background*/
{
    width:60%;
    min-width: 320px;
    height: 140px;
    

    background-size: 270px 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("googlelogo_color_272x92dp.png");
    place-items:center;
    

}

#form2
{
    place-items: center;
    width: 100%;
    background-color: white ;
    /*#3db3d1*/
}

.container-form
{
    place-items: center;
    width:100%;
}

.text_field
{
    min-width: 320px;
    max-width: 600px;
    width:85%;  
    place-items: center;
    
}

.text_field > input
{
    background-color: white ;
    width: 100%;      
    
    color:black;
    font-size:medium;
    

    padding: 10px 35px;/*pads inside*/
    margin-top:5px;
    border:solid 1px rgb(214, 212, 212);
    border-radius: 30px;
    box-sizing: border-box;
    
    
}

.text_field > input:hover
{
    
    box-shadow:  0px 0px 3px 3px rgb(228, 228, 228);
    box-sizing: border-box;
}

.text_field > input:focus
{
    
    outline: none;
    box-shadow:  0px 0px 3px 3px rgb(228, 228, 228);
}


.button_div
{
    flex-direction: row;
    margin-top: 15px;
    padding: 20px;
    
}

.button_div>input[type = "submit"] /*button group defination within that specific div*/
{
    background-color:#f0f2f3;
    
    text-align: center;
    /*border-radius: 2px;*/
    border:solid 1px rgba(214, 212, 212, 0.021);
        
    padding: 5px 10px;
    margin:0px 10px;
    box-sizing: border-box;
}

.button_div>input[type = "submit"]:hover
{
    
    border:solid 1px rgb(214, 212, 212);
        
}



/*image_search.html*/
#images_word
{
    color:black;
    position:relative;
    left: 155px;
    top: 100px;
    
}

.advanced_logo
{
    height: 137px;
    width:100%;
    border-bottom: solid 1px rgb(226, 219, 219);
       
}

#advanced_search_logo
{
    width: 75px;
    height: 14px;
    padding-bottom: 35px;
    position: relative;
    top: 20px;
    left:20px;
}



#Advanced_title
{
    position: relative;
    top: 45px;
    left: 50px;
    color:rgb(196, 51, 51);
    width: 157px;

}

.advanced_form
{
    margin: 45px;
    border-bottom: solid 1px rgb(226, 219, 219);
    
}

.form_sub_div
{
    margin-bottom: 20px;
}

.form_label
{
    width: 170px;
    font-size: small;
    
}

.form_space
{
    width:60%;
    min-width: 200px;
    border: solid 1px rgb(195, 195, 224);

}

.form_space:focus
{
    width:60%;
    min-width: 200px;
    border: solid 2px rgba(42, 42, 173, 0.747);
    outline: none;

    
}

#advanced_button_div
{
    display: flex; 
    flex-direction: row; 
    justify-content: end; 
    width: 100%;
    margin-bottom: 20px;
    font-size: small;
    
    
}

.advanced_button
{
    border-radius: 5px;
    color: white;
    background-color: rgb(90, 138, 241);
    border: solid 1px blue;
    
    box-sizing: border-box;
    padding: 7px;

    position: relative;
    right: 20px;
}